.navBar {
  width: 100%;
  height: 4rem;
  padding: 0rem 1rem;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .navBar__logo a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000;
  margin-right: 1.5rem;
}

.navBar .navBar__items {
  display: flex;
  align-items: center;
}

.navBar__items__burguer {
  display: none;
}

.navBar .navBar__items__links a {
  margin: 0rem 1.2rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 300;
  color: #000;
}

.navBar .navBar__items__links a:hover {
  font-weight: 600;
  text-decoration: underline;
  transition: 0.3s all ease;
}

.navBar_Bg {
  position: absolute;
  background-color: #222;
  top: -62rem;
  left: -62rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navBar__userLogIn a {
  text-decoration: none;
  margin: 0rem 0.5rem;
  color: #000;
  padding: 0.5rem 1rem;
  border: 0.05rem solid #000;
}

.navBar__userLogIn #signUp {
  border: 0.05rem solid #000;
  color: #fff;
  background: #000;
  margin-right: 0rem;
}

.navBar__userLogIn #signUp:hover {
  border: 0.05rem solid #1b1a1a;
  color: #fff;
  background: #1b1a1a;
  transition: 0.3s all ease;
}

@media screen and (max-width: 768px) {
  .navBar .active {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    transition: 0.4s all ease;
  }

  .navBar .activelog {
    width: 8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    top: 80%;
    left: 0;
    right: 0;
    text-align: center;
    transition: 0.4s all ease;
  }

  .navBar .active a {
    margin-top: 1.2rem;
    margin-left: 0rem;
    color: #fff;
  }

  .navBar .activelog a {
    margin: 0rem 0rem 0.25rem 0rem;
  }

  .navBar__items__links {
    position: absolute;
    top: -20rem;
    left: -10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .navBar__userLogIn {
    position: absolute;
    top: -20rem;
    left: -10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .navBar__items__burguer {
    display: block;
  }

  .Bg_active {
    top: 4rem;
    left: 0rem;
    z-index: -1;
    border-radius: 0 0 80% 0;
    transition: 0.4s all ease;
  }
}
