@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600&display=swap");
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
